<div class="col-xs-12 col-md-10 offset-md-1">

	<p class="filter">
		Filter By:
		<select ng-options="item as item.name for item in controller.filterOptions track by item.id"
				ng-change="controller.filterUsers(controller.filterSelection)"
				ng-model="controller.filterSelection">
		</select>
	</p>

	<h4 class="call-to-action-title" ui-sref="addUser" ng-hide="controller.userList.length > 0">Add a user to get going!</h4>
	<div class="table-responsive" ng-show="controller.userList.length > 0">
		<table class="table my-table">
			<thead>
				<tr class="head-row">
					<th class="cell head name">First Name</th>
					<th class="cell head name">Last Name</th>
					<th class="cell head email">Email</th>
					<th class="cell head age">Age</th>
					<th class="cell head fan">JavaScript Fan</th>
				</tr>
			</thead>
			<tbody>
				<tr class="body-row" ng-repeat="user in controller.userList">
					<td class="cell body name">
						<div class="body delete-user" ng-click="(controller.deleteUser(user))">X | Delete User</div>
						{{ user.first_name }}
					</td>
					<td class="cell body name">{{ user.last_name }}</td>
					<td class="cell body email">{{ user.email }}</td>
					<td class="cell body age">{{ user.age }}</td>
					<td class="cell body fan">{{ user.jsFan | booleanToYesNo }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
