<div class="col-xs-12 col-md-8 offset-md-2">
	<h4 class="call-to-action-title" ui-sref="addUser" ng-hide="controller.userList.length > 0">Add a user to get going!</h4>
	<div class="my-table" ng-show="controller.userList.length > 0">
		<div class="head-row">
			<h3 class="cell head name">Name</h3>
			<h3 class="cell head age">Age</h3>
			<h3 class="cell head fan">JavaScript Fan</h3>
		</div>
		<div class="body-row" ng-repeat="user in controller.userList">
			<p class="cell body delete-user" ng-click="(controller.deleteUser(user))">X | Delete User</p>
			<p class="cell body name">{{ user.name }}</p>
			<p class="cell body age">{{ user.age }}</p>
			<p class="cell body fan">{{ user.jsFan | booleanToYesNo }}</p>
		</div>
	</div>
</div>
