@import 'bourbon/bourbon';

// --------------------------------------------------
// Variables
// --------------------------------------------------
$color-background: 		#E6E6E6;
$color-alt-background: 	#055A5B;
$color-border: 			#DDD;
$color-link: 			#4078C0;
$color-text: 			darken($color-alt-background, 6);
$color-text-light: 		#767676;
$color-success: 		#75C759;
$color-error:			#DA4453;

$border-radius-small: 3px;
$border-radius-large: 6px;

$font-family-heading: 'Bitter', serif;
$font-family-body: 'Raleway', sans-serif;



// --------------------------------------------------
// Mixins
// --------------------------------------------------
@mixin clearAfter() {
	content:"";
    display:table;
    clear:both;
}

@mixin displayInlineBlock() {
	display: inline-block;
	vertical-align: top;
}

@mixin boxShadow() {
	box-shadow: 1px 1px 3px rgba($color-background, .2);
}

@mixin borderRadius($border-radius) {
	-webkit-border-radiu: $border-radius;
	  -moz-border-radius: $border-radius;
		   border-radius: $border-radius;
}



// --------------------------------------------------
// Global Styles
// --------------------------------------------------
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-size: 14px;
	font-family: $font-family-body;
    background-color: $color-background;
	color: $color-text;
}

a {
	color: $color-link;

	&:hover {
		color: $color-link;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	line-height: 1.6em;
}

img {
	max-width: 100%;
}

button {
	background-color: $color-alt-background;
	color: $color-background;
	transition: background-color .3s ease;

	&:hover {
		background-color: lighten($color-alt-background, 8);
	}
}

.page-title {
	text-align: center;
}

.call-to-action-title {
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}

.copyright {
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
	margin-top: 40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

main {

    &.ng-enter {
        transition: .5s;
        transform: translateY(1000px);
		opacity: 0;
		z-index: 10;
    }

    &.ng-enter-active {
		transform: translateY(0px);
        opacity: 1;
		z-index: 10;
    }

	&.ng-leave {
		transition: .5s;
		position: relative;
		transform: translateY(0px);
		opacity: 1;
		z-index: -10;
	}

	&.ng-leave-active {
		transform: translateY(1000px);
		opacity: 0;
		z-index: -10;
	}
}



// --------------------------------------------------
// Header Styles
// --------------------------------------------------
@import '_header.scss';



// --------------------------------------------------
// Footer Styles
// --------------------------------------------------
@import '_footer.scss';



// --------------------------------------------------
// Home Styles
// --------------------------------------------------
$cellWidth: 33.334%;
$cellPadding: 10px;
$deleteWidth: 118px;

.my-table {
	width: 100%;
	margin-top: 30px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);

	.head-row,
	.body-row {

		&:after {
			@include clearAfter();
		}

		.head,
		.body {
			width: $cellWidth;
			text-align: center;
			text-transform: capitalize;
			padding: $cellPadding;
			margin: 0;
			float: left;

			&.name {
				text-align: left;
			}

			&.fan {
				text-align: right;
			}
		}
	}

	.head-row {

		.head {
			font-size: 1em;
			background-color: $color-alt-background;
			color: $color-background;
		}
	}

	.body-row {
		color: rgba($color-text, 0.6);
		border-bottom: 1px solid rgba(0, 0, 0, 0.04);
		overflow: hidden;
		position: relative;

		&:hover {
			color: $color-text;
			border-bottom: 1px solid rgba(0, 0, 0, 0.08);

			.body {
				left: $deleteWidth;

				&.delete-user {
					left: 0;
				}
			}
		}

		.body {
			position: relative;
			left: 0;
			transition: left .3s ease;

			&.delete-user {
				width: $deleteWidth;
				color: $color-error;
				position: absolute;
				left: -33.334%;
				transition: left .3s ease;
				cursor: pointer;
			}
		}
	}
}



// --------------------------------------------------
// Add User Styles
// --------------------------------------------------
.input-label,
.message-label {
	display: block;
	padding: 20px 0 5px;
	margin: 0;
}

.checkbox-label,
.checkbox-input {
	margin-top: 20px;
}

.checkbox-label {
	padding-left: 6px;
}

.input-text,
.message-text {
	width: 100%;
	padding: 5px 10px;
	background-color: darken($color-background, 4);
	color: $color-text;
	border: none;
	border-radius: 4px;
	outline: none;
	border: 1px solid darken($color-background, 4);
	@include boxShadow();

	&.ng-dirty {
		&.ng-invalid {
			background-color: rgba($color-error, .1);
			border: 1px solid $color-error;
		}
	}
}

.message-text {
	height: 100px;
}

.btn-post {
	display: block;
	padding: 10px 30%;
	margin: 20px auto 0;
}



// --------------------------------------------------
// Responsive Styles
// --------------------------------------------------
@import '_responsive.scss';
